**.sra
**.vcf
**.fa
**.vg
**.fasta
**.gff
**.fastq
**.fastq.gz
**.txt
**.kmc_pre
**.kmc_suf
**.zip
**.list
**.html
**.json
**.tsv
workflow/archives
**/*RR*
**/contam_genomes
**/logs
**/.snakemake
**/results
**/pangenomes
**/linear_genomes
**/jules_ref_genomes
**/tmp_kmc_*
**/reference_genomes
